@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&family=Poppins:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
.card{
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    width: 296px;
    height: 460px;
    margin: 30px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    box-shadow: 0px -1px 4px 2px rgba(0,0,0,0.25);
}
section .card .image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    
}
section .card .image img:hover{
    box-shadow: 1px 3px 4px 2px rgb(136, 132, 132);
}
.box{
    position: absolute;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0 0;
    
}
.box1{
    background:linear-gradient(90deg, rgb(215, 12, 242),rgb(235, 176, 255));
}
.box2{
    background:linear-gradient(90deg, rgb(12, 16, 242),rgb(113, 158, 242));
}
.box3{
    background:linear-gradient(90deg, rgb(135, 242, 12),rgb(143, 255, 123));
}
.box4{
    background:linear-gradient(90deg, rgb(242, 227, 12),rgb(248, 240, 141));
}
.box5{
    background:linear-gradient(90deg, rgb(242, 12, 234),rgb(213, 125, 208));
}
.box6{
    background:linear-gradient(90deg, rgb(12, 219, 242),rgb(157, 250, 236));
}
.box7{
    background:linear-gradient(90deg, rgb(242, 50, 12),rgb(237, 107, 60));
}
.star1 i{
color:rgb(215, 12, 242);
}
.star2 i{
    color: rgb(12, 16, 242);
}
.star3 i{
    color: rgb(135, 242, 12);
}

.star4 i{
    color: rgb(242, 227, 12);
}
.star5 i{
    color: rgb(242, 12, 234);
}
.star6 i{
    color: rgb(12, 219, 242);
}

.star7 i{
    color: rgb(242, 50, 12);
}

.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card .media-icons i{
    color: rgb(255, 255, 255);
    opacity:0.7;
    margin-top: 10px;
    cursor: pointer;;

}
.card .media-icons i:hover{
    opacity: 1;
}
.name-profession{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}
.name{
    font-size: 20px;
    font-weight: 600;
    color: rgb(90, 87, 87);
}
.profession{
    font-size: 15px;
    font-weight: 500;
    color: rgb(119, 116, 116);
}
.rating{
    display: flex;
    align-items: center;
    margin-top:15px;
}
.rating i{
    margin-left: 5px;
    
}
.swiper{
    width:650px;
    height: 550px;
    
}
section{
   
    position:relative;
    display: flex;
    align-items: center;
    width: 800px;
    
}

section .card .about{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 5px;
    color:rgb(119, 116, 116);
    line-height: 22px;
}
.card .button {
    margin-top: 17px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.b button{
    
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}
.b button:hover{
    opacity: 0.8;
    box-shadow: 0px 2px 5px rgb(123, 121, 121);
}
.b1 button{
    background-color: rgb(215, 12, 242);
}
.b2 button{
    background-color: rgb(12, 16, 242);
}
.b3 button{
    background-color: rgb(135, 242, 12);
}
.b4 button{
    background-color: rgb(242, 227, 12);
}
.b5 button{
    background-color: rgb(215, 12, 242);
}
.b6 button{
    background-color: rgb(12, 219, 242);
}
.b7 button{
    background-color: rgb(242, 50, 12);
}
.swiper-button-prev,.swiper-button-next{
    color:purple;

}
.swiper-button-next:focus{
    color: purple;
    text-shadow: 2px 1px 5px rgb(135, 129, 129);

}
.swiper-button-prev:focus{
    color: purple;
    text-shadow: -1px 0px 5px rgb(135, 129, 129);

}
.swiper-pagination{
    top: 502px;
    color:black;
}
.swiper-pagination-bullet{
    background-color: purple;
    height:10px;
    width: 10px;
}